<div class="heading">
	<h2>Creacion de Conciertos</h2>
</div>
<div class="block09">
  <div class="content">
    <div class="tag"  style="float: right;">
      <%= link_to 'Listar Conciertos', concerts_path, { :class=>"button_1" } %>
      
    </div>
  </div>
</div>
<%= render 'form' %>
 
<!--<%= link_to 'Listar Conciertos', concerts_path %>-->
