<div class="heading">
	<h2>Registrar Grupo Musical</h2>
</div>
<div class="block09">
  <div class="content">
    <div class="tag"  style="float: right;">
      <%= link_to 'Atras', musical_groups_path, { :class=>"button_1" } %>
      
    </div>
  </div>
</div>
<%= render 'form' %>

<!--<%= link_to 'Back', musical_groups_path %>-->
